<!-- SIDEBAR -->

<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">

        <ul class="nav">
            <li class="nav-item active">

                <a href="#homeSubmenu" data-toggle="collapse">
                    <i class="la la-home"></i>Inicio</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a routerLink="./productos">
                    <i class="la la-list"></i>
                    <p>Productos</p>
                    <span class="badge badge-count">14</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="forms.html">
                    <i class="la la-users"></i>
                    <p>Clientes</p>
                    <span class="badge badge-count">50</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="tables.html">
                    <i class="la la-shopping-cart"></i>
                    <p>Ventas</p>
                    <span class="badge badge-count">6</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="./categorias">
                    <i class="la la-table"></i>
                    <p>Categorias</p>
                    <span class="badge badge-success">3</span>
                </a>
            </li>

            <!-- <li class="nav-item update-pro">
                <button data-toggle="modal" data-target="#modalUpdate">
                    <i class="la la-hand-pointer-o"></i>
                    <p>Update To Pro</p>
                </button>
            </li> -->
        </ul>
    </div>
</div>